@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  /* display: flex;
  align-items: center; */
  min-height: 100vh;
  /* background: #1f242d; */
  background: #081b29;
  color: #ededed;
  overflow-x: hidden;
}

.navbar {
  height: 60px;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  margin: 15px 15px 0 15px;
  border: none;
  outline: none;
  border-radius: 6px;
  padding: 15px;
  box-shadow: 0 0 8px #0ef;
}

/* .navbar h1 {
  font-size: 25px;
  color: #ededed;
  text-align: center;
  text-shadow: 0 0 3px #0ef;
  letter-spacing: 1px;
  transition: 0.5s;
} */

.heading {
  display: flex;
  align-items: center;
  justify-content: center;
}

.heading > h1 {
  font-size: 25px;
  color: #ededed;
  animation: glow 2s ease-in-out infinite;
}

@keyframes glow {
  0%,
  100% {
    color: #0ef;
    text-shadow: 0 0 12px #0ef, 0 0 50px #0ef, 0 0 100px #0ef;
  }
  10%,
  90% {
    color: #ededed;
    text-shadow: none;
  }
}

.heading > h1:nth-child(1) {
  animation-delay: 0.1s;
}

.heading > h1:nth-child(2) {
  animation-delay: 0.25s;
}

.heading > h1:nth-child(3) {
  animation-delay: 0.5s;
}

.heading > h1:nth-child(4) {
  animation-delay: 0.75s;
}

.heading > h1:nth-child(5) {
  animation-delay: 1s;
}

.heading > h1:nth-child(6) {
  animation-delay: 1.25s;
}

.heading > h1:nth-child(7) {
  animation-delay: 1.5s;
}

.heading > h1:nth-child(8) {
  animation-delay: 1.75s;
}

nav ul {
  display: flex;
  gap: 30px;
  list-style-type: none;
  /* color: #ededed; */
}

.menu li {
  display: block;
  position: relative;
  display: flex;
  align-items: center;
  color: #ededed;
  text-shadow: 0 0 15px #8e54e9;
  transition: only screen 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.menu li::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 1px;
  display: block;
  transition: only screen 0.5s ease-in-out;
  top: 25px;
}

.menu li:hover::after {
  width: 100%;
  height: 1px;
  background-color: #0ef;
}

li > a:focus {
  color: #0ef;
}

.active {
  color: #0ef;
}

li > a {
  text-decoration: none;
  color: #ededed;
  text-align: center;
}

li > a:hover {
  cursor: pointer;
  color: #0ef;
}

.socialMedia {
  display: flex;
  justify-content: space-around;
}

.socialMedia li {
  list-style-type: none;
}

.socialMedia > li:hover {
  cursor: pointer;
  scale: 1.05;
}

.whatsappImage,
.linkedinImage,
.GithubImage,
.InstagramImage,
.TwitterImage {
  display: flex;
  width: 25px;
  height: 25px;
}

@media only screen and (max-width: 750px) {
  nav > .menu {
    display: none;
  }

  .socialMedia {
    gap: 5px;
  }
}

@media only screen and (max-width: 380px) {
  .navbar > h1 {
    font-size: 20px;
  }

  .socialMedia {
    gap: 2px;
  }
}

@media only screen and (max-width: 330px) {
  .socialMedia li > a {
    display: none;
  }

  .navbar > h1 {
    font-size: 13px;
  }
}

@media only screen and (max-width: 185px) {
  .navbar > h1 {
    font-size: 7px;
  }
}

.hero {
  height: 640px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* padding: 0 2%; */
}

.hero-content {
  max-width: 600px;
}

.hero-content > h1 {
  font-size: 56px;
  font-weight: 700;
  line-height: 1.2;
}

.hero-content > h2 {
  font-size: 32px;
  font-weight: 700;
  color: #00abf0;
}

.hero-content > p {
  font-size: 16px;
  margin: 20px 0 40px;
}

.hero-content > .btn-box {
  display: flex;
  justify-content: space-between;
  width: 345px;
  height: 50px;
}

.btn-box > a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 100%;
  background: #00abf0;
  border: 2px solid #00abf0;
  border-radius: 8px;
  font-size: 19px;
  color: #081b29;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 1px;
  z-index: 1;
  position: relative;
  overflow: hidden;
  transition: 0.5s;
}

.btn-box > a:hover {
  color: #00abf0;
}

.btn-box > a:nth-child(2) {
  background: transparent;
  color: #00abf0;
}

.btn-box > a:nth-child(2):hover {
  color: #081b29;
}

.btn-box > a:nth-child(2)::before {
  background: #00abf0;
}

.btn-box > a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #081b29;
  z-index: -1;
  transition: 0.5s;
}

.btn-box > a:hover::before {
  width: 100%;
}

.home-sci {
  position: absolute;
  bottom: 90px;
  width: 170px;
  display: flex;
  justify-content: space-between;
}

.home-sci > a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: transparent;
  border: 2px solid #00abf0;
  border-radius: 50%;
  font-size: 20px;
  color: #00abf0;
  text-decoration: none;
  position: relative;
  z-index: 1;
  overflow: hidden;
  transition: 0.5s;
}

.home-sci > a:hover {
  color: #081b29;
}

.home-sci > a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #00abf0;
  z-index: -1;
  transition: 0.5s;
}

.home-sci > a:hover::before {
  width: 100%;
}

.hero-image {
  width: 410px;
  height: 410px;
}

.hero-image > .glowing-circle {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-image > .glowing-circle::after {
  content: "";
  position: absolute;
  width: 380px;
  height: 380px;
  background: #081b29;
  border-radius: 50%;
}

.glowing-circle span {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, #00abf0, #8e54e9);
  border-radius: 50%;
}

.glowing-circle span:nth-child(1) {
  filter: blur(10px);
}

.glowing-circle > .image {
  position: relative;
  width: 380px;
  height: 380px;
  border-radius: 50%;
  z-index: 1;
  overflow: hidden;
}

.image > img {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  max-width: 350px;
  object-fit: cover;
}

.hero-image1 {
  display: none;
  width: 410px;
  height: 410px;
}

.hero-image1 > .glowing-circle1 {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-image1 > .glowing-circle1::after {
  content: "";
  position: absolute;
  width: 380px;
  height: 380px;
  background: #081b29;
  border-radius: 50%;
}

.glowing-circle1 span {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, #00abf0, #8e54e9);
  border-radius: 50%;
}

.glowing-circle1 span:nth-child(1) {
  filter: blur(10px);
}

.glowing-circle1 > .image1 {
  position: relative;
  width: 380px;
  height: 380px;
  border-radius: 50%;
  z-index: 1;
  overflow: hidden;
}

.image1 > img {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  max-width: 350px;
  object-fit: cover;
}

@media only screen and (max-width: 1150px) {
  .hero {
    justify-content: center;
    gap: 30px;
  }

  .hero-content {
    max-width: 500px;
  }

  .hero-content > h1 {
    font-size: 46px;
  }

  .hero-content > h2 {
    font-size: 22px;
  }

  .hero-content > p {
    font-size: 13px;
  }

  .hero-content > .btn-box {
    width: 250px;
    height: 45px;
  }

  .btn-box > a {
    width: 120px;
    height: 100%;
  }

  .home-sci {
    bottom: 120px;
    width: 150px;
  }

  .hero-image {
    width: 380px;
    height: 380px;
  }

  .hero-image > .glowing-circle::after {
    width: 350px;
    height: 350px;
  }

  .glowing-circle > .image {
    width: 350px;
    height: 350px;
  }

  .image > img {
    max-width: 350px;
  }
}

@media only screen and (max-width: 960px) {
  .hero {
    gap: 30px;
  }

  .hero-content {
    max-width: 400px;
  }

  .hero-content > h1 {
    font-size: 40px;
  }

  .hero-content > h2 {
    font-size: 20px;
  }

  .hero-content > p {
    font-size: 12px;
  }

  .hero-content > .btn-box {
    width: 220px;
    height: 45px;
  }

  .btn-box > a {
    width: 100px;
    font-size: 15px;
  }

  .home-sci {
    bottom: 130px;
  }

  .hero-image {
    width: 350px;
    height: 350px;
  }

  .hero-image > .glowing-circle::after {
    width: 320px;
    height: 320px;
  }

  .glowing-circle > .image {
    width: 320px;
    height: 320px;
  }

  .image > img {
    max-width: 320px;
  }
}

@media only screen and (max-width: 830px) {
  .hero {
    gap: 30px;
  }

  .hero-content {
    max-width: 350px;
  }

  .hero-content > h1 {
    font-size: 38px;
  }

  .hero-content > h2 {
    font-size: 18px;
  }

  .hero-content > p {
    font-size: 12px;
  }

  .hero-content > .btn-box {
    width: 200px;
    height: 45px;
  }

  .btn-box > a {
    width: 90px;
    font-size: 15px;
  }

  .home-sci {
    bottom: 150px;
  }

  .hero-image {
    width: 320px;
    height: 320px;
  }

  .hero-image > .glowing-circle::after {
    width: 300px;
    height: 300px;
  }

  .glowing-circle > .image {
    width: 300px;
    height: 300px;
  }

  .image > img {
    max-width: 300px;
  }
}

@media only screen and (max-width: 740px) {
  .hero-image {
    display: none;
  }

  .hero-image1 {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 300px;
    margin-bottom: 25px;
  }

  .hero-image1 > .glowing-circle1 {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .hero-image1 > .glowing-circle1::after {
    content: "";
    position: absolute;
    width: 280px;
    height: 280px;
    background: #081b29;
    border-radius: 50%;
  }

  .glowing-circle1 span {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #00abf0, #8e54e9);
    border-radius: 50%;
  }

  .glowing-circle1 span:nth-child(1) {
    filter: blur(10px);
  }

  .glowing-circle1 > .image1 {
    position: relative;
    width: 280px;
    height: 280px;
    border-radius: 50%;
    z-index: 1;
    overflow: hidden;
  }

  .image1 > img {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    max-width: 300px;
    object-fit: cover;
  }

  .home-sci {
    bottom: 0;
  }

  .hero-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}

@media only screen and (max-width: 380px) {
  .home-sci {
    bottom: -80px;
  }
}

/* about section design  */

.about {
  margin-top: 50px;
  height: 550px;
}

.container {
  width: 1200px !important;
  padding: 0 !important;
  margin-right: auto;
  margin-left: auto;

  @media screen and (min-width: 992px) and (max-width: 1439px) {
    max-width: 1279px !important;
    padding: 0 !important;
    margin: 0 80px !important;
    width: auto !important;
  }

  @media screen and (max-width: 991px) {
    max-width: 959px !important;
    margin: 0 16px !important;
    padding: 0 !important;
    width: auto !important;
  }

  @media screen and (max-width: 470px) {
    .container-title {
      font-size: 30px;
    }
  }
}

.gradient-cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px;
  padding: 30px;
  @media screen and (max-width: 991px) {
    grid-template-columns: 1fr;
  }
}

.container-title {
  text-align: center;
  padding: 0 !important;
  margin-bottom: 40px;
  font-size: 40px;
  color: #00abf0;
  font-weight: 600;
  line-height: 60px;
}

.card {
  max-width: auto;
  border: 0;
  width: 100%;
  margin-inline: auto;
}

.container-card {
  position: relative;
  border: 2px solid transparent;
  background: linear-gradient(71deg, #080509, #1a171c, #080509);
  background-clip: padding-box;
  border-radius: 45px;
  padding: 40px;
}

.bg-blue-box {
  position: relative;
}

.bg-blue-box::after {
  position: absolute;
  top: -1px;
  bottom: -1px;
  left: -1px;
  right: -1px;
  content: "";
  z-index: -1;
  border-radius: 45px;
}

.bg-blue-box::after {
  background: linear-gradient(71deg, #0c0a0e, #00abf0, #0c0a0e);
}

.card-title {
  font-weight: 600;
  color: white;
  letter-spacing: -0.02em;
  line-height: 40px;
  font-style: normal;
  font-size: 28px;
  padding-bottom: 8px;
}

.card-description {
  font-weight: 600;
  line-height: 32px;
  color: hsla(0, 0%, 100%, 0.5);
  font-size: 16px;
  max-width: auto;
  overflow: hidden;
  display: inline-block;
}

/* services css section */
.services {
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.services > h1 {
  text-align: center;
  font-size: 40px;
  font-weight: 600;
  color: #00abf0;
}

.services > p {
  text-align: center;
  margin: 10px;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 20px;
  row-gap: 20px;
}

.cards > .ser-card {
  width: 150px;
  height: 100px;
  border: 1px solid #00abf0;
  background: #080509;
  box-shadow: 0 0 15px 0 black;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: 0.5s;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cards > .ser-card:hover {
  transform: scale(1.1);
  color: #080509;
}

.cards > .ser-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #00abf0;
  z-index: -1;
  transition: 0.5s;
}

.cards > .ser-card:hover::before {
  width: 100%;
}

@media screen and (max-width: 770px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 440px) {
  .services {
    margin-top: 100px;
  }
  .cards {
    margin-top: 30px;
  }
  .contact {
    margin-top: 60px;
  }
}

.ser-card > .ser-icon {
  font-size: 40px;
  font-weight: 600;
}

.ser-card > .ser-title {
  font-size: 15px;
  font-weight: 600;
}

/* services page  */

.contact {
  height: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact h2 {
  font-size: 40px;
  color: #00abf0;
  text-align: center;
  margin-bottom: 10px;
}

.contact form {
  width: 600px;
  text-align: center;
}

form .input-box {
  display: flex;
  justify-content: space-between;
}

.input-box .input-field {
  width: 48.5%;
}

.field .item {
  width: 100%;
  padding: 18px;
  background: transparent;
  border: 2px solid #00abf0;
  outline: none;
  border-radius: 6px;
  font-size: 16px;
  color: #ededed;
  margin: 12px 0;
}

.field.error .item {
  border-color: #d93025;
}

.field .item::placeholder {
  color: rgba(255, 255, 255, 0.3);
}

.field .error-txt {
  font-size: 14.5px;
  color: #d93025;
  text-align: left;
  margin: -5px 0 10px;
  display: none;
}

.field.error .error-txt {
  display: block;
}

form .textarea-field .item {
  resize: none;
}

form .textarea-field .error-txt {
  margin-top: -10px;
}

form button {
  padding: 12px 32px;
  background: #00abf0;
  border: none;
  outline: none;
  border-radius: 6px;
  box-shadow: 0 0 10px #00abf0;
  font-size: 16px;
  color: #333;
  letter-spacing: 1px;
  font-weight: 600;
  cursor: pointer;
  margin-top: 20px;
  transition: 0.5s;
  z-index: 1;
  overflow: hidden;
  position: relative;
}

form button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  z-index: -1;
  transition: 0.5s;
  background: #081b29;
}

form button:hover::before {
  width: 100%;
}

form button:hover {
  color: #00abf0;
}

@media screen and (max-width: 660px) {
  .contact form {
    width: 400px;
  }
}

@media screen and (max-width: 460px) {
  form .input-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .input-box .input-field {
    width: 80%;
  }
  .textarea-field {
    width: 80%;
  }

  .textarea-field {
    margin-left: 40px;
  }

}

@media screen and (max-width: 1120px) {
  .home-sci {
    display: none;
  }
}
