@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  /* display: flex;
  align-items: center; */
  min-height: 100vh;
  background: #1f242d;
}

.navbar {
  height: 60px;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  margin: 15px 15px 0 15px;
  border: none;
  outline: none;
  border-radius: 6px;
  padding: 15px;
  box-shadow: 0 0 8px #0ef;
}

/* .navbar h1 {
  font-size: 25px;
  color: #ededed;
  text-align: center;
  text-shadow: 0 0 3px #0ef;
  letter-spacing: 1px;
  transition: 0.5s;
} */

.heading {
  display: flex;
  align-items: center;
  justify-content: center;
}

.heading > h1 {
  font-size: 25px;
  color: #ededed;
  animation: glow 2s ease-in-out infinite;
}

@keyframes glow {
  0%, 100% {
    color: #0ef;
    text-shadow: 0 0 12px #0ef, 0 0 50px #0ef, 0 0 100px #0ef;
  }
  10%, 90% {
    color: #ededed;
    text-shadow: none;
  }
}

.heading > h1:nth-child(1) {
  animation-delay: 0.09s;
}

.heading > h1:nth-child(2) {
  animation-delay: 0.25s;
}

.heading > h1:nth-child(3) {
  animation-delay: 0.5s;
}

.heading > h1:nth-child(4) {
  animation-delay: 0.75s;
}

.heading > h1:nth-child(5) {
  animation-delay: 1s;
}

.heading > h1:nth-child(6) {
  animation-delay: 1.25s;
}

.heading > h1:nth-child(7) {
  animation-delay: 1.50s;
}

.heading > h1:nth-child(8) {
  animation-delay: 1.75s;
}



nav ul {
  display: flex;
  gap: 30px;
  list-style-type: none;
  /* color: #ededed; */
}

.menu li {
  display: block;
  position: relative;
  display: flex;
  align-items: center;
  color: #ededed;
  text-shadow: 0 0 15px #8e54e9;
  transition: only screen 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.menu li::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 1px;
  display: block;
  transition: only screen 0.5s ease-in-out;
  top: 25px;
}

.menu li:hover::after {
  width: 100%;
  height: 1px;
  background-color: #0ef;
}

li > a:focus {
  color: #0ef;
}

li > a {
  text-decoration: none;
  color: #ededed;
  text-align: center;
}

li > a:hover {
  cursor: pointer;
  color: #0ef;
}

.socialMedia {
  display: flex;
  justify-content: space-around;
}

.socialMedia li {
  list-style-type: none;
}

.socialMedia > li:hover {
  cursor: pointer;
  scale: 1.05;
}

.whatsappImage,
.linkedinImage,
.GithubImage,
.InstagramImage,
.TwitterImage {
  display: flex;
  width: 25px;
  height: 25px;
}

@media only screen and (max-width: 750px) {
  nav > .menu {
    display: none;
  }

  .socialMedia {
    gap: 5px;
  }
}

@media only screen and (max-width: 380px) {
  .navbar > h1 {
    font-size: 20px;
  }

  .socialMedia {
    gap: 2px;
  }
}

@media only screen and (max-width: 330px) {
  .socialMedia li > a {
    display: none;
  }

  .navbar > h1 {
    font-size: 13px;
  }
}

@media only screen and (max-width: 185px) {
  .navbar > h1 {
    font-size: 7px;
  }
}
